body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#canvas {
  border: 3px solid black;
  padding: 25px;
  border-radius: 15px;
  box-shadow: -5px 8px 1px 1px black;
  margin: 0 15px;
}

#nextShapeCanvas {
  border: 3px solid black;
  padding: 25px;
  border-radius: 15px;
  box-shadow: -5px 8px 1px 1px black;
}

button {
  position: relative;
  /* margin: 55px 0; */
  top: 15px;
  /* box-shadow: -4px 5px 1px 1px black; */
}

h1 {
  text-align: center;
  border: 3px solid black;
  padding: 0 115px;
  border-radius: 15px;
  box-shadow: -4px 5px 1px 1px black;
}
